body {
    margin: 0px;
    padding: 0px;
    background: #000
}

;

.nav-logo {
    position: relative;

}

.nav-logo a img {
    width: 77px;
    height: auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;


}


html,
body,
div,
p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


.nav {
    background: #000;
    height: 125px;

}

.nav li {
    display: inline-block;
    list-style: none;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
}

.nav li:hover {
    background: red;
    transition: background .3s;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.search-div {
    display: flex;
    align-content: center;
    height: 40px;
    width: 75px;
    margin-top: 10px;
    margin-left: 100px;
}


.card {
    height: 300px;
    width: 250px;
    border: 1px solid #eee;
    background-color: #eee;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
    transition: 250ms all ease-in-out;
}

.img1 {
    height: 300px;
    width: 250px;
}

.card:hover {
    box-shadow: 0 0 10px red;
    transform: scale(1.030);
}


.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 20px;
    position: relative;
    width: 300px;
    overflow: hidden;
}

.box {
    display: flex;
    align-items: space-between;
    background: black;
    margin: 30px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-5 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}