body {
    margin: 0px;
    padding: 0px;

}

;

.nav-logo {
    position: relative;

}

.nav-logo a img {
    width: 77px;
    height: auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;


}


html,
body,
div,
p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


.nav {
    background: #000;
    height: 125px;

}

.nav li {
    display: inline-block;
    list-style: none;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
}

.nav li:hover {
    background: red;
    transition: background .3s;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.search-div {
    display: flex;
    align-content: center;
    height: 40px;
    width: 75px;
    margin-top: 10px;
    margin-left: 100px;
}


.jumbotron {
    margin: 50px 50px 50px 50px;

    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
    width: 80%;
    padding: 50px;
    display: flex;
}

.aboutusdiv {
    padding-right: 40px;
}

footer {
    margin-left: 500px;
}