* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}